doctype html
html
  head
    +css([
      {name: "quill", path: "dist/quill.core.css"},
      {name: "quill", path: "dist/quill.snow.css"}
    ])
  body
    +script([
      {name: "quill", path: "dist/quill.js"}
    ])
    script(type="module"): include:lsc index.ls
