doctype html
html
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "quill", path: "dist/quill.core.css"},
      {name: "quill", path: "dist/quill.snow.css"},
      {name: "@plotdb/quill-image-plus"}
    ])
  body
    .w-1024.rwd.mx-auto.my-5
      h2.mb-4 Quill Image Tools Test
      div(ld="toolbar")
        button.ql-bold
        button.ql-italic
        button.ql-underline
        button.ql-image
      .border(ld="editor",style="min-height: 400px;")
        p Welcome to the Quill Image Tools test page.
        p Click "Insert Test Image" to add an image, then try:
        ul
          li Click on the image to select it
          li Drag the corner handles to resize
          li Press Escape to deselect
    +script([
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "ldview"},
      {name: "quill", path: "dist/quill.js"},
      {name: "@plotdb/quill-image-plus"}
    ])
    script(type="module"): include:lsc index.ls
