.quill-image-plus-select-suppress
  user-select: none
.quill-image-plus-resizer-caret
  width: 0
  outline: 2px solid #0ff
  position: absolute
  top: 0
  left: 0
  height: 1em
  user-select: none
  pointer-events: none
.quill-image-plus-resizer-root
  position: absolute
  top: 0
  left: 0
.quill-image-plus-resizer-dot, .quill-image-plus-resizer-bar
  position: absolute
  top: 0
  left: 0
  width: 8px
  height: 8px
  border-radius: 1px
  background: #fff
  outline: 1px solid #000
  z-index: 10
  cursor: pointer

